.DateAndTimeDeparture1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30pt;
  font-weight: italic;
}

.DateAndTimeDeparture2{
  font-family: Helvetica;
  font-size: 11pt;
  font-weight: bold;
 
}

.DateAndTimeDeparture3{
  font-family: Helvetica;
  font-size: 10pt;
  color:grey;
}