.DateAndTimeArrival1{
  font-family: Helvetica;
  font-size: 30pt;
  font-weight: italic;
}

.DateAndTimeArrival2{
  font-family: Helvetica;
  font-size: 11pt;
  font-weight: bold;
 
}

.DateAndTimeArrival3{
  font-family: Helvetica;
  font-size: 10pt;
  color:grey;

}