.с1{

  margin-left: 20px;
  margin-top: 10px;
  text-align: start;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 9pt;
  color:rgb(26, 26, 26);
}







.line{
    // display: inline;
    // width: 100%;
    
}

.list{
  margin-top:10px;
}